.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.columnBox {
  width: 100%;
}

.columnHeader {
  border-bottom: solid darkslategrey 2px;
  padding: 10px;
}

.cardBox {
  border: dotted gray 1px;
  margin: 10px;
  height: 150px;
}

.to-do-cardBox {
  background-color: #f8ec6a;
}

.in-progress-cardBox {
  background-color: #90c4c0;
}

.done-cardBox {
  background-color: #8fa3cc;
}
